.header {
  display: flex;
  justify-content: space-between;
  width: 325px;
  height: 20px;
  margin: 48px 0 40px;
}

h1 {
  color: #FFF;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 10px;
}

#icon {
  width: 19.317px;
  height: 20px;
}

#icon:hover {
  cursor: pointer;
}

@media screen and (min-width:1440px) {
  .header {
    width: 540px;
    height: 48px;
    margin: 70px 0 40px;
  }

  h1 {
    font-size: 40px;
    letter-spacing: 15px;
  }

  #icon {
    width: 25.113px;
    height: 26px;
  }
}